.add {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add__fromContainer {
    width: 80%;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #868686, -10px -10px 20px #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
  }