.landing {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f3f5;
}

.landing__topActions {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0;
  width: 95%;
}
.landing__bottomActions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 4rem;
}
.landing__mainText {
  font-size: 3.5rem;
  margin-top: 2rem;
  text-align: center;
}
